{% assign letters_collection_handle = collection.handle | append: "-indv" %}
{% assign letters_collection = collections[letters_collection_handle] %}

<div class="collection-order-page">
  <h1>{{ collection.title }}</h1>
  {% if letters_collection.image %}
    <img src="{{ letters_collection.image.src | img_url: 'large' }}" alt="{{ collection.title }} Image" class="collection-image">
  {% elsif collection.image %}
    <img src="{{ collection.image.src | img_url: 'large' }}" alt="{{ collection.title }} Image" class="collection-image">
  {% endif %}
  {% if letters_collection.description != blank %}
    <p>{{ letters_collection.description }}</p>
  {% endif %}

  {% include 'letters-order-form' %}

  <!-- Allow adding Ella sections for custom content (e.g., rich text or images) -->
  {% section 'rich-text' %}
</div>